[submodule "blocklock-solidity"]
	path = blocklock-solidity
	url = https://github.com/randa-mu/blocklock-solidity.git
[submodule "marshmallow-crypto"]
	path = marshmallow-crypto
	url = https://github.com/randa-mu/marshmallow-crypto
[submodule "randomness-solidity"]
	path = randomness-solidity
	url = https://github.com/randa-mu/randomness-solidity
[submodule "dcipher-proto"]
	path = dcipher-proto
	url = https://github.com/randa-mu/dcipher-proto
