[profile.default]
# Skip CI-only tests by default
default-filter = 'not test(#ci-only)'

[profile.ci]
# Run all tests
default-filter = 'all()'
fail-fast = false

# 1 retry for test_watch_block_numbers which may fail once depending on when the blocks are fetched
[[profile.default.overrides]]
filter = 'package(superalloy) & (test(multi_provider::tests::test_watch_block_numbers) | test(provider::tests::watch_block_numbers_http))'
retries = 3
