name: build-and-push-docker
on:
  push:
    branches:
      - "*"
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*'
  pull_request:
  workflow_dispatch:
    inputs:
      docker_push:
        description: 'Enable docker push'
        required: false
        type: boolean
        default: true


env:
  DOCKER_REGISTRY: 'europe-west1-docker.pkg.dev/randamu-prod/candyland'
  DOCKER_PUSH: ${{ github.event.inputs.docker_push == 'true' }}

  SERVICE_ACCOUNT: github@randamu-prod.iam.gserviceaccount.com
  IMAGE_MAINTAINER: "Randamu"
  IMAGE_VENDOR: "Randamu"
  AUTHOR: "Randu Mohammed"

jobs:
  docker-build-and-push:
    name: "Docker build and push"
    runs-on: ["randamu-self-hosted-default"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          submodules: 'recursive'

      - name: Setup local cache directory, to reuse across images
        run: |
          mkdir -p /tmp/buildkit-cache

      - name: Login to Artifact Registry
        uses: docker/login-action@v3
        with:
          registry: europe-west1-docker.pkg.dev
          username: _json_key
          password: ${{ secrets.GCP_SERVICE_ACCOUNT_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          buildkitd-config-inline: |
            debug = true
            [registry."docker.io"]
              mirrors = ["mirror.gcr.io"]
            [worker.oci]
              max-parallelism = 8
          driver-opts: |
            image=mirror.gcr.io/moby/buildkit:buildx-stable-1
            network=host

      - name: Build and push docker images
        uses: docker/bake-action@v6
        env:
          TAG: ${{ github.ref_name }}
          REGISTRY: ${{ env.DOCKER_REGISTRY }}
        with:
          files: docker-bake.hcl
          source: .
          push: ${{ github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/') || env.DOCKER_PUSH == 'true' }}
          set: |
            *.cache-from=type=local,src=/tmp/buildkit-cache
            *.cache-from=type=registry,ref=${{ env.DOCKER_REGISTRY }}/buildkit-cache
            *.cache-to=type=local,dest=/tmp/buildkit-cache,mode=max
            *.cache-to=type=registry,ref=${{ env.DOCKER_REGISTRY }}/buildkit-cache,mode=max
