name: check-rust-bindings
on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  check-rust-bindings:
    name: Build and test rust crates
    runs-on: ["ubuntu-latest"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      # who knows what version is on our runners
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: '1.3.5-stable'

      - name: Cache npm blocklock-solidity
        uses: actions/cache@v3
        with:
          path: blocklock-solidity/node_modules
          key: ${{ runner.os }}-npm-blocklock-solidity-${{ hashFiles('blocklock-solidity/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-blocklock-solidity-

      - name: Cache npm randomness-solidity
        uses: actions/cache@v3
        with:
          path: randomness-solidity/node_modules
          key: ${{ runner.os }}-npm-randomness-solidity-${{ hashFiles('randomness-solidity/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-randomness-solidity-

      - name: Cache Solidity blocklock-solidity
        uses: actions/cache@v3
        with:
          path: blocklock-solidity/out
          key: ${{ runner.os }}-sol-blocklock-solidity-${{ hashFiles('blocklock-solidity/src/**/*.sol', 'blocklock-solidity/lib/**/*.sol') }}
          restore-keys: |
            ${{ runner.os }}-sol-blocklock-solidity-

      - name: Cache Solidity randomness-solidity
        uses: actions/cache@v3
        with:
          path: randomness-solidity/out
          key: ${{ runner.os }}-sol-randomness-solidity-${{ hashFiles('randomness-solidity/src/**/*.sol', 'randomness-solidity/lib/**/*.sol') }}
          restore-keys: |
            ${{ runner.os }}-sol-randomness-solidity-

      # 1. Compile blocklock-solidity
      - name: blocklock-solidity - Install dependencies
        working-directory: ./blocklock-solidity
        run: npm ci

      - name: blocklock-solidity - Build Solidity contracts
        working-directory: ./blocklock-solidity
        run: npm run build:forge

      # 2. Compile randomness-solidity
      - name: randomness-solidity - Install dependencies
        working-directory: ./randomness-solidity
        run: npm ci

      - name: randomness-solidity - Build Solidity contracts
        working-directory: ./randomness-solidity
        run: npm run build:forge

      # 3. Compile onlyswaps-solidity
      - name: onlyswaps-solidity - Install dependencies
        working-directory: ./onlyswaps-solidity
        run: npm ci

      - name: onlyswaps-solidity - Build Solidity contracts
        working-directory: ./onlyswaps-solidity
        run: npm run build

      # 4. Actually check the bindings against the generated code
      - name: Check the bindings match
        run: ./generate-bindings.sh