name: rust-build-and-tests
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

concurrency:
  group: ci-${{ github.ref }}-dcipher
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  rust-build-and-tests:
    name: Build and test rust crates
    runs-on: ["randamu-self-hosted-default"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Cache npm blocklock-solidity
        uses: actions/cache@v3
        with:
          path: blocklock-solidity/node_modules
          key: ${{ runner.os }}-npm-blocklock-solidity-${{ hashFiles('blocklock-solidity/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-blocklock-solidity-

      - name: Cache npm randomness-solidity
        uses: actions/cache@v3
        with:
          path: randomness-solidity/node_modules
          key: ${{ runner.os }}-npm-randomness-solidity-${{ hashFiles('randomness-solidity/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-randomness-solidity-

      - name: Cache Solidity blocklock-solidity
        uses: actions/cache@v3
        with:
          path: blocklock-solidity/out
          key: ${{ runner.os }}-sol-blocklock-solidity-${{ hashFiles('blocklock-solidity/src/**/*.sol', 'blocklock-solidity/lib/**/*.sol') }}
          restore-keys: |
            ${{ runner.os }}-sol-blocklock-solidity-

      - name: Cache Solidity randomness-solidity
        uses: actions/cache@v3
        with:
          path: randomness-solidity/out
          key: ${{ runner.os }}-sol-randomness-solidity-${{ hashFiles('randomness-solidity/src/**/*.sol', 'randomness-solidity/lib/**/*.sol') }}
          restore-keys: |
            ${{ runner.os }}-sol-randomness-solidity-

      # 1. Compile blocklock-solidity
      - name: blocklock-solidity - Install dependencies
        working-directory: ./blocklock-solidity
        run: npm ci

      - name: blocklock-solidity - Build Solidity contracts
        working-directory: ./blocklock-solidity
        run: npm run build:forge

      # 2. Compile randomness-solidity
      - name: randomness-solidity - Install dependencies
        working-directory: ./randomness-solidity
        run: npm ci

      - name: randomness-solidity - Build Solidity contracts
        working-directory: ./randomness-solidity
        run: npm run build:forge

      # 3. Compile onlysubs-solidity
      - name: onlysubs-solidity - Install dependencies
        working-directory: ./onlysubs-solidity
        run: npm ci

      - name: onlysubs-solidity - Build Solidity contracts
        working-directory: ./onlysubs-solidity
        run: npm run build:forge

      # 4. Build and test workspace packages
      - name: Lint & Test Rust Workspace
        uses: ./.github/actions/rust-test-action
        env:
          POLYGON_RPC_URL: ${{ secrets.POLYGON_RPC_URL }}
        with:
          working-directory: .
          extra-cache-key: 'dcipher'
